body{
	margin: 0;
	font-family: 'Arimo', sans-serif;
}

#navbar{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 75px;
	box-shadow: -5px 5px 10px #BFC0C0;
}

#logos{
	padding-left: 20px;
}

#dropdownMenus
{
	margin-left: auto;
}

.dropdown{
	position: relative;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	color: #545F66;
}

.dropdownContent{
 	display: none;
  	position: absolute;
  	background-color: white;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px, 12px, 12px;
  	z-index: 1;
}

.dropdownContent ul{
	list-style: none;
}

.dropdownContent ul li{
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 18px;
}

.dropdown:hover .dropdownContent {
  display: block;
  color: #545F66;
}

.dropdown:hover .dropdownContent li:hover{
	color: #EF8354;
	cursor: pointer;
}

#content{
	display: block;
	position: relative;
	width: 1100px;
	height: 600px;
	top: 75px;
	margin: auto;
	background-color: white;

}

.dropdown:hover{
	color: #EF8354;
	cursor: pointer;
}

#logos:hover{
    cursor: pointer;
}

#galleryTitle{
	display: flex;
	position: absolute;
	height: 75px;
	width: 600px;
	background-color: #EF8354;
	top: 18px;
	left: 75px;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

#gallery{
	display: flex;
	position: absolute;
	height: 500px;
	width: 900px;
	background-color: #567568;
	top: 50px;
	left: 100px;
	border-radius: 10px;
	flex-direction: row;
}



#homepageHeader{
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	background-color: #545F66;
	margin-top: 75px;
	margin-left: 100px;
	top: 40px;
	height: 75px;
	width: 600px;
	border-radius: 15px;
}

#homepageContent{
	color: #545F66;
	padding-left: 150px;
	padding-right: 150px;
}

#galleryTitle h2{
	color: white;
	font-size: 30px;
}

p{
	font-size: 20px;
}

#keyphoto{
}

#keyphoto img{
	border-radius: 10px 0px 0px 10px;
	border-right: 25px solid;
	border-right-color: white;
}


#keyinfo{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

#keyTitle{
	color: white;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 10px;
}

#keyRating{
	display: inline-block;
	padding-bottom: 10px;
}

#keyDescription p{
	color: white;
	padding-top: 10px;
	font-size: 25px;
}

.homepageVis{
    display:block;
    background-color: blue;
}
#poop{
    display: inline;
    visibility: visible;
    background-color: blue;
}

#howToFlex{
	display:flex;
	flex-direction: row;
	
	width: 900px;
	height: 600px;
	padding-top: 50px;
	padding-bottom: 300px;
	margin: auto;
	color: #545F66;
}

#ingredients{
	width: 400px;
	height: 600px;
	font-size: 22px;
}

#ingredients ul{
	list-style: circle;
}
#instructions{
	width: 500px;
	height: 600px;
	font-size: 22px;
}